<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kidlearnsafety">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KidLearnSafety">
        <activity android:name=".Categories_drowning"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".Categories_poison"
            android:screenOrientation="landscape"/>
        <activity android:name=".Categories_fire"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".Categories_internet"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Categories_furniture"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Menu"
            android:screenOrientation="landscape" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>